NODE_ENV=development
PORT=3000
SESSION_SECRET=troque_esta_chave_secreta_em_producao
USER_ADMIN=admin
PASS_ADMIN=troque_esta_senha
USER_RECEPCAO=recepcao
PASS_RECEPCAO=troque_esta_senha
USER_ESTOQUE=estoque
PASS_ESTOQUE=troque_esta_senha
